.centerText {
  text-align: center;
  max-width: 1160px;
  margin-inline: auto;
}

.faqSection {
  padding-block: 2rem;
  gap: 0.5rem;
  position: relative;
}

/* hero-section */

.heroSection {
  padding-bottom: 2rem;
}

.heroTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

/* help-section */

.helpSection {
  padding: 2rem 0;
  position: relative;
}

.helpDonate {
  /* cursor: pointer; */
  text-align: center;
  font-family: var(--font-headers);
  font-weight: 500;
  text-decoration: underline 2px solid var(--color-primary);
}

/* .helpDonate:hover {
  color: var(--color-primary);
} */

.qrWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0 2rem;
}

.qrImage {
  width: 400px;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  background-color: var(--color-inverse);
  padding: 20px;
  padding: 0;
  display: block;
}

.pawHelpHelp {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  top: 40%;
  width: 99vw;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.pawHelpOwner {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  bottom: -50%;
  width: 99vw;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 768px) {
  .pawHelpOwner {
    bottom: -100%;
  }
}
