.petPage {
  padding-bottom: 2rem;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.petContainer {
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 2rem;
  align-items: start;
}

.petMedia {
  width: 100%;
}

.petInfo {
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
}

.petName {
  text-align: left;
  margin: 0;
  font-size: 2.5rem;
}

.specifications {
  font-size: 1rem;
  color: var(--color-text-muted);
  margin: 0;
}

.description {
  margin: 0;
  font-size: 1rem;
  white-space: pre-wrap;
  line-height: normal;
}

.petButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1.5rem;
  justify-content: center;
}

.pawPet {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  bottom: -30%;
  width: 99vw;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 768px) {
  .petContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .petName {
    text-align: center;
  }
  .specifications {
    text-align: center;
  }
  .petInfo {
    gap: 0.5rem;
  }
}

@media (max-width: 500px) {
  .petName {
    text-align: center;
    font-size: 1rem !important;
  }

  .specifications {
    text-align: center;
    font-size: 0.8rem !important;
  }

  .description {
    text-align: left;
    font-size: 0.8rem !important;
  }

  .pawPet {
    bottom: -40%;
  }
}
