.footer {
  margin-top: 3rem;
  width: 100%;
  background: var(--color-primary);
  color: var(--color-inverse);
}

.footerContainer {
  display: flex;
  width: 100%;
  height: 10rem;
  align-items: center;
}

.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-family: var(--font-headers);
}

@media (max-width: 500px) {
  .logo {
    font-size: 1.5rem;
    gap: 0.5rem;
  }
}
