h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
  font-weight: 500;
  line-height: 110%;
  text-align: center;
  margin-inline: auto;
}

p {
  overflow-wrap: break-word;
  word-break: break-word;
}

a {
  cursor: pointer;
  color: var(--color-text);
  text-decoration: underline solid 2px var(--color-primary);
}

@media (max-width: 768px) {
  p {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.8rem;
  }
}

button:disabled {
  border-color: red;
}
