h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
  font-weight: 500;
  line-height: 110%;
  text-align: center;
  margin-inline: auto;
}

p {
  overflow-wrap: break-word;
  word-break: break-word;
}

@media (max-width: 768px) {
  p {
    font-size: 0.7rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
  }
}

.NotImplemented {
  color: red;
  background-color: rgb(255, 249, 88);
}

button:disabled {
  border-color: red;
}
