@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-text: #000000;
  --color-text-muted: #B3B3B3;
  --color-inverse: #FFFFFF;
  --color-primary: #9FC847;
  --color-bg: #FFFFFF;
  --color-bg-accent: #FFFADC;
  --color-empty-100: #D9D9D9;
  --color-empty-200: #B3B3B3;

  --font-headers: 'Rubik', sans-serif;
  --font-body: 'Roboto', sans-serif;

  --layout-padding: 10%;
}

html, body {
  font: 20px/160% var(--font-body);
  letter-spacing: 0;
  color: var(--color-text);
  background: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headers);
  font-weight: bold;
}

.container {
  max-width: 1160px; /* 1440px - 280px */
  margin-inline: auto;
  padding-inline: 20px;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.container {
  flex: 1 0 auto; 
  width: 100%;
}