.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-body);
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 3px solid transparent;
  border-color: var(--color-primary);
  text-decoration: none;
  flex: 0 0 auto;
  height: auto;
  min-height: min-content;
  align-self: center;
  flex: 0 0 auto;
  height: fit-content;
  min-height: min-content;
  box-sizing: border-box;
  line-height: 1.2;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-inverse);
  border-color: var(--color-primary);
}
.primary:hover {
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}

.inverted {
  background-color: var(--color-bg);
  color: var(--color-text);
  border-color: var(--color-primary);
}
.inverted:hover {
  background-color: var(--color-bg-hovers);
  border-color: var(--color-primary-hover);
}

.normal {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 1.5rem;
}
.large {
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  border-radius: 1.8rem;
}

@media (max-width: 768px) {
  .normal {
    padding: 0.35rem;
    font-size: 0.7rem;
    border-radius: 1.2rem;
  }
  .large {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    border-radius: 1.8rem;
  }
}
