.container {
  position: relative;
  display: inline-block;
  font-family: var(--font-body);
}

.trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 3px solid var(--color-primary);
}

.trigger:hover {
  background-color: var(--color-bg-hovers);
  border-color: var(--color-primary-hover);
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--color-primary);
  transition: transform 0.3s ease;
  margin-left: 0.8rem;
}

.iconOpen {
  transform: rotate(180deg);
}

.menu {
  position: absolute;
  top: calc(100% + 0.3rem);
  left: 0;
  
  min-width: 100%;
  width: max-content;
  max-width: 90vw;
  
  margin: 0;
  padding: 0.5rem 0;
  list-style: none;
  z-index: 10;
  
  background-color: var(--color-bg);
  border: 3px solid var(--color-primary);
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.menuItem {
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  color: var(--color-text);
  transition: background-color 0.2s ease;
  white-space: nowrap;
}

.menuItem:hover {
  background-color: var(--color-bg-hovers);
}

.menuItemActive {
  color: var(--color-primary);
}

.textMain {
  font-weight: 500;
}